<!DOCTYPE html>
<html>
<head>
  <title>Freedomoftweet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>
  Freedom of <span id="crossed_out">spe..</span> Tweet
</h1>

<div id="content">
  <%= yield %> 
</div>


</body>
</html>
